<header>
  <h1 class="title">Hello</h1>
</header>
<main>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <img src="/img/angular.png">
  
  <input type="email" [(ngModel)]="email">
  <input type="password" [(ngModel)]="password">
  <button (click)="login()">LOGIN</button>
  <button (click)="somethingSecure()">TESTJWT</button>

  <div>
    <input type="file" (change)="onFileInputChange($event)">
    <button (click)="uploadSomething()">Try UPLOAD</button>
  </div>

  <div>
    <button (click)="getSomething()">Try GET</button>
  </div>
  
  <div style="margin: 100px; background-color: #eeeeee;">
    <form novalidate (submit)="createUser()">
      <input type="email" name="email" [(ngModel)]="user.email" placeholder="email">
      <input type="password" name="password" [(ngModel)]="user.password" placeholder="password">
      <input type="text" name="first" [(ngModel)]="user.name.first" placeholder="name.first">
      <input type="text" name="last" [(ngModel)]="user.name.last" placeholder="name.last">
      <button type="submit">Create User</button>
    </form>
  </div>
</main>
<footer>
  <a [attr.href]="url">Angular Library Seed</a>
</footer>
